a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

img {
    width: 150px;
    border-radius: 10px;
    border: 3px solid rgba(236, 97, 5, 0.895);
    position: relative;
    bottom: -50px;
}

body {
    background-color: rgb(254, 120, 3);
}

h1 {
    position: relative;
    color: rgb(0, 0, 0);
    text-align: center;
    letter-spacing: 5px;
    bottom: -50px;
    font-family: 'Kolker Brush', cursive;
    font-size: 60px;
    background-color: rgba(236, 97, 5, 0.895);
    box-shadow: 0px 1px white;
}

h3 {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
    color: white;
    position: relative;
    bottom: -50px;
    font-family: 'Bai Jamjuree', sans-serif;
}

legend {
    color: white;
    font-size: small;
    font-style: italic;
}

ul {

    right: 0px;
    Position: absolute;
    top: 88px;
    text-align: right;
    flex-wrap: wrap;

}

li {
    display: inline-block;
    margin: 10px;

}

section {
    display: block;
    text-align: center;
    color: white;

}

footer {
    font-size: xx-small;
    position: relative;
    bottom: -5px;
}

.send {
    background-color: rgb(254, 120, 3);
    border-radius: 0px;
    border-color: white;
    border-width: 1.5px;
    position: relative;
    bottom: -2px;
    font-size: 17px;
    border-width: 1px;
    box-shadow: 1px 2px;
}

.send:hover {
    background-color: rgb(248, 153, 64);
    text-decoration: none;
}

fieldset {
    background-color: rgba(236, 97, 5, 0.895);
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    position: relative;
    bottom: -50px;
}

.form {
    padding: 3px;
    margin: 3px;
    border: 2px solid rgb(254, 120, 3);
}

.button {
    background-color: rgb(254, 120, 3);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: 1px 2px;

}

.button:hover {
    background-color: rgb(248, 153, 64);
}

@media (max-width: 768px) {
    body {
        background-color: rgb(29, 189, 198);
    }

    ul {
        right: 0px;
        Position: relative;
        top: 30px;
    }

    .button {
        background-color: rgb(8, 101, 106);
    }

    fieldset {
        background-color: rgb(8, 101, 106);
        position: relative;
        bottom: -50px;
    }

    img {
        border: 3px solid rgb(8, 101, 106);
        width: 140px;
        position: relative;
        bottom: -20px;
    }

    h1 {
        background-color: rgb(8, 101, 106);
        font-size: 40px;
    }

    p {
        font-size: small;
        position: relative;
        bottom: -30px
    }

    .send {
        background-color: rgb(29, 189, 198);

    }

    .form {
        border: 2px solid rgb(29, 189, 198);
    }

    /*
footer to be worked on-needs to be more responsive
*/
    footer {
        position: relative;
        bottom: -20px;
        font-size: xx-small;
    }

}